<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Photo 2</th>
      <th>Photo 3</th>
      <th>Photo 4</th>
      <th>Photo 5</th>
      <th>Photo 6</th>
      <th>Address</th>
      <th>Property type</th>
      <th>Number of bedrooms</th>
      <th>Number of bathrooms</th>
      <th>Max price per week</th>
      <th>Available date</th>
      <th>Roles</th>
      <th colspan="3"></th
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= cl_image_tag(listing.photo_url, :class => "uploaded_photo") %></td>
        <td><%= cl_image_tag(listing.photo2_url, :class => "uploaded_photo") %></td>
        <td><%= cl_image_tag(listing.photo3_url, :class => "uploaded_photo") %></td>
        <td><%= cl_image_tag(listing.photo4_url, :class => "uploaded_photo") %></td>
        <td><%= cl_image_tag(listing.photo5_url, :class => "uploaded_photo") %></td>
        <td><%= cl_image_tag(listing.photo6_url, :class => "uploaded_photo") %></td>
        <td><%= listing.address %></td>
        <td><%= listing.property_type %></td>
        <td><%= listing.number_of_bedrooms %></td>
        <td><%= listing.number_of_bathrooms %></td>
        <td><%= listing.max_price_per_week %></td>
        <td><%= listing.available_date %></td>
        <td><%= listing.roles %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
