<!-- <p id="notice"><%= notice %></p> -->

<h1>Listings</h1>


  <head>
    <div class="responsive-table highlight">

    </div>
  </head>

  <body>
    <% @listings.each do |listing| %>
    <%= cl_image_tag listing.photo %>
      <%= cl_image_tag listing.photo2 %>
    <%= cl_image_tag listing.photo.inspect %>


      <!-- <div class="carousel">
         <a class="carousel-item" href="#one!"><"<%= cl_image_tag listing.photo_url %>"></a>
         <a class="carousel-item" href="#two!"><"<%= image_tag listing.photo_url %>"></a>
         <a class="carousel-item" href="#three!"><"<%= image_tag listing.photo_url %>"></a>
         <a class="carousel-item" href="#four!"><"<%= image_tag listing.photo_url %>"></a>
         <a class="carousel-item" href="#five!"><"<%= image_tag listing.photo_url%>"></a>
       </div> -->
      </div>

      <script type="text/javascript">
         $('.carousel.carousel-slider').carousel({fullWidth: true});
      </script>

    <% end %>
  </body>



<br>

<%= link_to 'New Listing', new_listing_path %>
