<!-- <p id="notice"><%= notice %></p> -->

<h1>Listings</h1>


  <head>
    <div class="responsive-table highlight">

    </div>
  </head>

  <body>
    <!-- materialize carousel pulling from cloudinary -->
    <% @listings.each do |listing| %>
      <div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="<%= listing.photo_url %>"></a>
        <a class="carousel-item" href="#two!"><img src="<%= listing.photo2_url %>"></a>
        <a class="carousel-item" href="#three!"><img src="<%= listing.photo3_url %>"></a>
        <a class="carousel-item" href="#four!"><img src="<%= listing.photo4_url %>"></a>
        <a class="carousel-item" href="#five!"><img src="<%= listing.photo5_url %>"></a>
      </div>
      <!-- referencing seed file -->
      <%= listing.number_of_bedrooms %>
      <%= listing.address %>


      <script type="text/javascript">
         $('.carousel.carousel-slider').carousel({fullWidth: true});
      </script>

    <% end %>
  </body>



<br>

<%= link_to 'New Listing', new_listing_path %>
